

<a href="/"> <h1 class="bg-primary text-light p-5 p-lg-4 text-center text-sm-start "> Donation Platform </h1> </a>

{% if request.user.is_authenticated %}

<p> hello {{request.user}} </p>
 

<a href="{% url 'logout' %}"> logout </a>

{% else %}
<nav class="navbar navbar-expand-lg bg-primary navbar-dark py-3 fixed-top ">
    <div class="container">
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link text-light ">Login</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}" class="nav-link text-light">Singup</a>
            </li>
            </ul>
        </div>

    </div>
        
</nav>
</hr>

{% endif%}
<hr>