
{% block content %}
{% if page == 'login' %}
<div>
    <form method = "POST" action="">

        {% csrf_token %}

        <label > username: </label>

        <input type="email" name="email" placeholder="Enter a valid email address">


        <label > Password: </label>

        <input type="password" name="password" placeholder="Enter password">


        <input type="submit" value="login">

        
    </form>

    <p> No account?</p>
    <a href="{% url 'register' %}"> Sign Up as a Donor</a>
   

</div>

{% else %}

<div>
    <form method = "post" action="">

        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value=" Register ">

    </form>
    
    <p> Have an account?</p>
    <a href="{% url 'login' %}"> Login as a Donor</a>
    

</div>

{% endif %}
{% endblock content %}